@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root {
  --primary: #176ede;
  --bg-primary: #fff;
  --bg-secondary: #EDF2F8;
  --bg-terinary: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Gordita", sans-serif !important; */
  /* font-family: "Poppins", sans-serif !important; */
  font-family: Product Sans Regular, sans-serif !important;
}

body {
  background-color: var(--bg-secondary);
  /* font-family: "Gordita", sans-serif !important; */
}

thead tr th{
  font-family: "Poppins", sans-serif !important;
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #d4d9e2;
}

.app__navbar {
  background-color: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.MuiChip-label, .MuiStepLabel-label, .MuiListSubheader-root{
  font-family: "Poppins", sans-serif !important;
}

.MuiListSubheader-root{
  font-weight: bold !important;
  color: #176ede !important;
  font-size: 16px !important;
}

.MuiStepLabel-label{
  letter-spacing: 0 !important;
}
/* input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
} */

.progress-bar {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  /* scroll-behavior: smooth; */
  background: var(--primary);
  transition: width 0.05s ease;
  border-radius: 0 5px 5px 0px;
  /* transform-origin: 0%; */
}

.fixed-image{
  position: sticky;
  top:0;
  filter: brightness(80%)
}